<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,  initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Resume page</title>
</head>
<body>
    <header>
        <h1>{{ .FirstName }} {{ .LastName }}</h1>
        <p>Резюме</p>
    </header>

    <section id="about">
        <h2>О себе</h2>
        <ul>
            <li>Дата рождения: {{ .BirthDate }}</li>
            <li>{{if .City }} Город: {{ .City }} {{end}}</li>
        </ul>
    </section>

    <section id="education">
        <h2>Образование</h2>
        <ul>
            <li><strong>{{ .University }}</strong></li>
            <li>{{ .Faculty }}</li>
            <li><i>{{if .Graduation }} Год окончания: {{ .Graduation }} {{end}}</i></li>
        </ul>
    </section>

    <section id="experience">
        <h2>Опыт работы</h2>
        <ul>
            <li><strong>{{ .Experience.Company }}</strong></li>
            <li>{{ .Experience.Position }}</li>
            <li><i>{{if .Experience.From }} {{ .Experience.From }} - {{ .Experience.Until }} {{end}}</i></li>
        </ul>
    </section>

    <footer>
        <p>{}{Дата создания: {{ .DateTime }}</p>
    </footer>

</body>
</html>